@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Pacifico&family=Baloo+2&family=Fredoka&family=Caveat&family=Gloria+Hallelujah&family=Indie+Flower&display=swap');
body {
    font-family: 'Baloo 2', cursive;
    background-color: #9faff0; 
}

header {
    background-color: #9faff0; 
    text-align: center;
}

header h1 {
    font-family: 'Comic Neue', cursive;
    font-size: 2.0rem;
    color: #2a2adb;
    text-transform: capitalize;
    border: 4px dotted rgb(40, 2, 255);
    padding: 1rem;
    border-radius: 20px;
}

div {
    text-align: center;
    font-style: italic;
    background-color: #9faff0; 
    color: #3336d6
}

nav {
    text-align: center;
    font-family: 'Pacifico', cursive;
    background-color: #e4f0fc;
    color: #5d8cde
}
main {
    background-color: #fffaf0;
    text-align: center;
    color: rgb(7, 2, 135)
}

main h2 {
    font-family: 'Pacifico', cursive;
    color: #ff0000;
    text-align: center;
    text-decoration: underline;
}

main h3 {
    text-align: center;
    font-style: italic;
}